* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Laila', sans-serif;
}

.title {
    font-size: 35px;
    font-weight: 600;
    color: #272727;
}

.description {
    color: #424141;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    width: 60%;
    text-align: center;

}

/* This Banner Section */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 0px 150px 0px;
}

.photo {
    width: 400px;
}

.banner-heading {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4em;
}

.banner-description {
    color: #424141;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}

.btn {
    padding: 20px 40px;
    background-color: #E55473;
    border-radius: 8px;
    border: 0;
    color: #ffff;
}

/* This is Featured Section */
.featured {
    padding: 80px;
    text-align: center;
}

.featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flower-wrap {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 50px 30px 0;

}

.featured-flower {
    margin-right: 20px;
}

.flower {
    width: auto;
    height: 350px;


}

.flower-caption {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

/* This is Shop Advantages */
.shop-advantage-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    width: 70%;
    margin: 0 auto;
    padding: 50px 80px;
    text-align: center;

}

/* This is Deal Section */
.deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 80px 150px;
    margin: 50px 0;

}

.deal-content {
    text-align: center;
}
/* This is Intagram Section */
.insta-section{
    text-align: center;
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
}
.insta-img{
    width: 250px;
    height: auto;
    margin-right: 10px;
}
.insta-photo-box{
    margin: 80px 0;
}
/*  Call To Action Section */
.cta-container{
    background-image: url("../images/Rectangle\ 9.png"),linear-gradient(gray, rgb(147, 133, 133));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    text-align: center;
}
input[type=email] {
    width: 50%;
    padding: 15px 35px;
    margin: 8px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    
  }
  input[type=submit] {
    padding: 15px 35px;
    background-color: #E55473;
    border-radius: 5px;
    border: 0;
    color: #ffff;
    
  }